nav ul li {
display: inline;
justify-content: space-between;
text-decoration-line: underline;
background-color: ghostwhite;
color: black;
padding: 20px 20px 20px;
}

h1 {
    background-color: blue;
    color: black;
}

h2 {
    background-color: chocolate;
}

h3 {
    background-color: purple;
    background-color: green;
}
h4{
color: mediumblue;
}
body{
    text-align: center;
    background-color: moccasin;
}
h5{
    text-align:center;
    color: blue;
}
.home h1 img{
    width: 10px;
    height: 10px;
}